.container__prog__details {
    margin:2rem;
    margin-top: 7rem;
    padding-bottom: 2rem;
}


.prog__details {
    background: #d5dbe2;
    color: #000000;
    border-radius: 0.5rem;
}
.block-1 {
    display:flex;
    gap: 4rem;
}
.block-1 img{
    padding-left: left;
    padding-top: 3rem;
    width: 100%;
    border-radius: 1rem;
}

h1, .title {
    position: top;
    width: 100%;
    height: auto;
    padding-top: 0rem;
    text-align: center;
    background-color:  #808b96;
    color: #fff;
}
.overview h2 {
    margin-bottom: 1rem;
}
.outline { 
    height: auto;
    width: 50%;
    padding-top: 3rem; 
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding-bottom: 3rem;
    padding-left: 0.5rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
}

.outline i{
    background: gold;
    color: crimson;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 25px;
}

.container__prog__details, .prog__details, .overview p{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;  
}

.faq {
    background: #808b96;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.phd {
    padding-left: 2rem;
}




@media screen and (max-width: 1024px){
    .outline { 
        width: 100%;
        height: auto;
        padding-top: 1rem; 
        margin-top: 1rem;
        margin-left: 2rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 0.5rem;
    }
    .block-1 {
        display:block;
        gap: 4rem;
    }
    .block-1 img{
        padding-left: left;
        padding-top: 3rem;
        width: 100%;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .container__prog__details {
        margin: 0.5rem;
        margin-top: 3rem;
        padding-bottom: 2rem;
    }

    .outline { 
        width: 100%;
        height: auto;
        padding-top: 1rem; 
        margin-top: 1rem;
        margin-left: 0.5rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.5rem;
    }
    
    .container__prog__details, .prog__details, .overview p{
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: justify; 
    }

    .outline { 
        height: auto;
        padding-top: 1rem; 
        margin-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 0.5rem;
    }

    .outline i{        
        font-size: 15px;
    }
    .faq {
        background: #808b96;
        margin-bottom: 1rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .space {
        margin-top: 3rem;
    }
    
}


