/* GOOGLE FONTS (MONSERRAT) */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #f4d03f;
    --color-darkyellow: #F1C40F;
    --color-darkblue:#1B4F72;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: crimson;
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #5d6d7e;
    --color-bg1: #0e6655;
    --color-bg2: #17a589;
    --color-blue: #5dade2;
    --color-orange: orange;
    --color-violet: violet;
    --color-scrollBtn: #3498db;
    --color-skyblue: #5DADE2;

    --container-width-lg: 94%;
    --container-width-md: 92%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1p solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: black;
    border-color: #fff;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
    border-width: 1px;
    border-color: #fff;
}

/* NavBar */

nav{
    /* background: crimson; */
    background: crimson;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* change navbar style on scroll using javascript*/

.window-scroll {
    background: var(--color-scrollBtn);
    box-shadow:  0 1rem 2rem rgba(0, 0, 0, 0.3);
}



.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__menu ul {
    list-style: none;

}

.nav__menu ul li{
    color: #000;
}

.nav__menu a{
    font-size: 0.9rem;
}
.nav__menu a:hover{
    color: var(--color-white);
    transition: var(--transition);
    background: var(--color-scrollBtn);
    margin-top: 14px;
    margin-left: 14px;
}
.active, .nav__menu a:hover{
    background: transparent;
    /* padding: 10px 10px; */
    border-radius: 0.5rem;
}

.submenu-1 {
    display:none;
}

.nav__menu li:hover .submenu-1 {
    display: block;
    background: #566573;    
    position: absolute;
    padding: 1rem;
    border-bottom: 1rem solid yellow;
}
.nav__menu li:hover .submenu-1 ul {
    display: block;
    margin: 10px;
}
.nav__menu li:hover .submenu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #f1c40f;
    background: transparent;
    border-radius: 0;
}
.nav__menu li:hover .submenu-1 ul li:last-child {
    border-bottom: none;
}




/* ============= Header Section ============== */

header{
    background: #f1c40f;
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 110vh;
    margin-bottom: 3rem;
}
.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 10%;
}

.header_left h1{
    margin: 2rem 0 2.4rem;
    text-align: left;
}

.header_left p{
    margin: 2rem 0 2.4rem;
    text-align: justify;
}

.header_right-image {
    border-radius: 10px;
}

/* ================= Categories ================= */

.categories{
    background: var(--color-bg1);
    height: 35rem;
}
.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories_container {
    display: grid;
    grid-template-columns: 40% 60%;
} 

.categories_left {
    margin-right: 4rem;
}

.categories_left p {
    margin: 1rem 0 3rem;
}
.categories_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category {
    background: var(--color-bg2);
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: var(--transition);
    height: 10rem;
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.category:nth-child(2) .category_icon{
    background: var(--color-danger);
}
.category:nth-child(3) .category_icon{
    background: var(--color-primary);
}
.category:nth-child(4) .category_icon{
    background: var(--color-blue);
}
.category:nth-child(5) .category_icon{
    background: var(--color-orange);
}
.category:nth-child(6) .category_icon{
    background: var(--color-violet);
}
.category:nth-child(7) .category_icon{
    background: var(--color-violet);
}
.category:nth-child(8) .category_icon{
    background: var(--color-orange);
}
.category:nth-child(9) .category_icon{
    background: var(--color-danger);
}

.category_icon {
    background: var(--color-bg);
    padding: 0.7rem;
    border-radius: 0.8rem;
}
.category h5{
    margin: 2rem 0 1rem;
}

.category p{
    font-size: 0.85rem;
}

/* ================= Courses ================= */

.courses {
    margin-top: 5rem;
}

.courses__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.course {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.course_info{
    padding: 2rem;
}

.course_info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

/* ================= Experts Container ================= */

#experts {
    padding:  4vw 4vw 4vw 6vw;
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    text-align: center;
}

.expert-box {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.profile:hover {
    background-color: transparent;
    border-color: var(--color-primary);    
}

.profile { 
    background-color: #17a589;
    padding: 0.8rem;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 5px;
}
.profile img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    text-align: center;
    margin: 1rem auto 1rem;
    border: 0.3rem solid var(--color-scrollBtn)
}

.pro-links {
    margin-top: 1rem;
}
.pro-links i {
    padding: 10px 13px;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: var(--transition);
}

.pro-links i:hover {
    background: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-danger);
}


/* ================= Experts Container ends here================= */


/* ================= Frequently Asked Question (FAQs) ================= */

.faqs{
    background: var(--color-bg);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;    
}

.faq{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-bg2);
    cursor: pointer;
    text-align: justify;
    transition: var(--transition);
    border-radius:1rem ;
}

.faq:hover {
    background: transparent;
    border: 1px solid;
    border-color: #F1C40F;
    transition: var(--transition);

}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem ;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}
.faq.open p {
    display: block;
}


/* ================= FAQs ends here ================= */



/* ================= Testimonial Container ================= */

.testimonials__container {
    background: #5d6d7e;
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonial {
    padding-top: 2rem;
}
.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.3rem solid var(--color-scrollBtn)
}

.testimonial__info {
    text-align: center;    
}
.testimonial__body {
    background: var(--color-success);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}

.testimonial__body::before {
    content: "";
    display: block;
    background: linear-gradient(135deg, transparent, var(--color-success), var(--color-success), var(--color-success));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 45%;
    top: -1.5rem;
    transform: rotate(45deg);
}

/* Here have a look to: https://swiperjs.com/get-started#use-swiper-from-cdn*/ 


/* ================= Testimonial Container ends here ================= */




/* ================= Footer Section starts here ================= */

footer {
    background: var(--color-bg1);
    padding: 3rem;
    font-size: 0.9rem;    
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.footer__container > div h4 {
    margin-bottom: 1.2rem;
}

.footer__container > div h5 {
    margin-bottom: 0.5rem;
}

.footer__1 p{
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline; 
    font-weight: 600; 
    transition: var(--transition);
}

.footer__3 p{
    color: var(--color-white);
    padding: 0.1rem;
}

footer .subscribe {
    margin-top: 0.2rem;
}
footer input {
    width: 7rem;
    padding: 10px 10px;
    background: #D6EAF8;
    border: none;
    border-radius: 5px;
    outline: none;
}
footer .subscribe a {
    text-decoration: none;
    font-size: 0.6rem;
    padding: 0.7rem 0.4rem;
    background-color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

footer .subscribe a.yellow {
    color: #fff;
    background: #fdc93b;
    transition: var(--transition);
}

footer .subscribe a.yellow:hover {
    color: var(--color-black);
    background: var(--color-white);
}

.footer__socials {
    display: flex;
    gap: 0rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.footer__socials i:hover {
    background: var(--color-primary);    
}

.footer__copyright {
    margin-top: 3rem;
    text-align: left;
    padding-top: 1.2rem;
    border-top: 1px solid var(--color-white);
}
.footer__copyright a:hover{
    color: var(--color-black);
}

/* ================= Footer Section ends by here ================= */



/* ================= Responsive Design ================= */

/* ================= MEDIA QUEREIS (TABLETS) ================= */


@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }

/* ================= NavBar ================= */

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-menu-btn{
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 12rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav__menu li {
        width: 100%;
        height: 2.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 600ms;
    }
    .nav__menu li:nth-child(5) {
        animation-delay: 800ms;
    }
    .nav__menu li:nth-child(6) {
        animation-delay: 1000ms;
    }
    .nav__menu li:nth-child(7) {
        animation-delay: 1200ms;
    }
    .nav__menu li:nth-child(8) {
        animation-delay: 1400ms;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100% {
            transform: rotateZ(0deg) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav__menu li a {
        background: var(--color-scrollBtn);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white);
    }

/* ================= Header ================= */

    header {
        height: 52vh;
        margin-bottom: 4rem;
    }

    .header_container {
        gap: 0;
        padding-bottom: 3rem;
    }
/* ================= Programme Categories ================= */

    .categories {
        height: auto;
    }
    .categories_container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .categories_left {
        margin-right: 0;
    }


/* ================= Popular Courses ================= */

    .courses {
        margin-top: 0;

    }
    .courses__container {
        grid-template-columns: 1fr 1fr;
    }

/* ================= Community Expert ================= */

 
    .profile {
        align-items: center;
        margin: auto;
    }

/* ================= FAQs ================= */

    .faqs__container {
        grid-template-columns: 1fr;
    }
    .faq {
        padding: 1.5rem;
    }
/* ================= Footer ================= */

    .footer__container {
        grid-template-columns: 1fr 1fr;
    }

/* ================= Nav Menus ================= */

    .nav__menu li:hover .submenu-1 {
        position: absolute;
        display: block;
        margin-top: -30px;
        margin-left: -12rem;
        text-align: right;
    }

}

/* ================= MEDIA QUERIES (PHONES) ================= */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
/* ================= Nav Bar ================= */

    .nav__menu {
        right: 3%;
        width: 50%;
    }
    .nav__menu li:hover .submenu-1 {
        position: absolute;
        display: block;
        margin-top: -25px;
        margin-left: -12rem;
        text-align: right;
    }

    /* ================= Header ================= */

    header {
        height: 100%;
    }
    .header_container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0rem;
    }

    .btn {
        margin-bottom: 0.7rem;
    }

    .header_left p {
        margin-bottom: 1.2rem;
    }
/* ================= Programme Categories ================= */

    .categories_right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category {
        padding: 1rem;
        border-radius: 1rem;
    }

    .category_icon {
        margin-top: 2px;
        display: inline-block;
    }

/* ================= Popular Courses ================= */
    .courses__container {
        grid-template-columns: 1fr
    }

/* ================= Experts' Community ================= */  

    .profile {
        align-items: center;
        margin: auto;
    }

/* ================= Testimonials ================= */  
    .testimonial__body {
        padding: 1.2rem;
    }
/* ================= Footer ================= */  

    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    .footer__1 p {
        margin: 1rem auto;
    }

    .footer__socials {
        justify-content: center;
    }
    
}
